.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 100vw;
    padding: 58px 10%;
    gap: 40px; 
    z-index: 1;
    overflow: hidden;
}

.text {
    text-align: center; 
}

.text h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px; 
}

.text p {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
}

.listContainer {
    display: flex;
    flex-wrap: wrap; 
}

.links {
    margin-top: 1rem;
    display: block; 
    flex-direction: column; 
    list-style: none;
    gap: 25px;  
    z-index: 1;
    max-width: 100%;    
}

.link {
    display: block;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 100%;
}

.linkText {
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px !important; 
    font-weight: 400;
    letter-spacing: 1.5px;
    font-family: 'Times New Roman', Times, serif;
    white-space: normal;
}

.icon {
    font-size: 24px;
    flex-shrink: 0;
    margin-right: 15px;
}

@media screen and (max-width: 830px) {
    .container {
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .text h2 {
        font-size: 60px; 
    }

    .text p {
        font-size: 30px; 
    }
    .listContainer{
        max-width: 100%;
    }

    .links {
        align-items: center;
        max-width: 100%;
    }
   
    .link{
        display: flex;
        max-width: fit-content;
    }

    .linkText {
        font-size: 1rem !important; 
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        max-width: fit-content;
        display: flex;
        flex-wrap: wrap;
    }

}